<!-- Service Section -->

<section id="service" class="parallax-section">
    <div class="container">
         <div class="row">
  
              <div class="bg-yellow col-md-3 col-sm-6">
                   <div class="wow fadeInUp color-white service-thumb" data-wow-delay="0.8s">
                        <i class="fa fa-desktop"></i>
                             <h3>Interface Design</h3>
                             <p class="color-white">Client side skills</p>
                             <p class="color-white">HTML, CSS, JavaScript, JQuery, AJAX, Bootstrap, Angular 8</p>
                   </div>
              </div>
  
              <div class="col-md-3 col-sm-6">
                   <div class="wow fadeInUp color-white service-thumb" data-wow-delay="1.2s">
                        <i class="fa fa-paper-plane"></i>
                             <h3>Backend processing</h3>
                             
                             <p class="color-white">ASP.NET Core MVC, ASP.NET MVC, ASP.NET, ADO.NET, LinQ, Entity Framework, WCF, ASP.NET Web API</p>
                             
                   </div>
              </div>
  
              <div class="bg-dark col-md-3 col-sm-6">
                   <div class="wow fadeInUp color-white service-thumb" data-wow-delay="1.6s">
                        <i class="fa fa-table"></i>
                             <h3>Mobile App</h3>
                             <p class="color-white">React Native.</p>
                             <p class="color-white invisible">ASP.NET Core MVC, ASP.NET MVC, ASP.NET, ADO.NET, LinQ, Entity</p>
                   </div>
              </div>
  
              <div class="bg-white col-md-3 col-sm-6">
                   <div class="wow fadeInUp service-thumb" data-wow-delay="1.8s">
                        <i class="fa fa-html5"></i>
                             <h3>Programming</h3>
                             
                             <p>C# language.</p>
                             <p class="color-white invisible">ASP.NET Core MVC, ASP.NET MVC, ASP.NET, ADO.NET, LinQ, Entity</p>
                   </div>
              </div>
  
              
         </div>
         <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="wow fadeInUp color-white service-thumb" data-wow-delay="1.2s">
                     <i class="fa fa-paper-plane"></i>
                          <h3>Databases</h3>
                          <p class="color-white">MS SQL Server</p>
                          
                          
                </div>
           </div>
             
           <div class="bg-dark col-md-3 col-sm-6">
            <div class="wow fadeInUp color-white service-thumb" data-wow-delay="1.6s">
                 <i class="fa fa-table"></i>
                      <h3>Version Control</h3>
                      <p class="color-white">Git, GitHub, Bitbucket.</p>
            </div>
       </div>

       <div class="bg-white col-md-3 col-sm-6">
            <div class="wow fadeInUp service-thumb" data-wow-delay="1.8s">
                 <i class="fa fa-html5"></i>
                      <h3>Pattern</h3>
                      
                      <p    >SOLID, Design pattern</p>
            </div>
       </div>

            <div class="bg-yellow col-md-3 col-sm-6">
                <div class="wow fadeInUp color-white service-thumb" data-wow-delay="0.8s">
                     <i class="fa fa-desktop"></i>
                          <h3>Unit testing</h3>
                          <p class="color-white">MS Tests</p>
                </div>
           </div>

         

           
         </div>
    </div>
  </section>
  
  