
<!-- Navigation Section -->
<app-navigation></app-navigation>






<!-- Home Section -->
<app-home></app-home>

<!-- About Section -->
<app-about></app-about>


<!-- Service Section -->
<app-service></app-service>


<!-- Experience Section -->
<app-experience></app-experience>


<!-- Education Section -->
<app-education></app-education>


<!-- Quotes Section -->
<app-quotes></app-quotes>


<!-- Contact Section -->
<app-contact></app-contact>








<!-- Footer Section -->
<app-footer></app-footer>






